[Unit]
Description=Per Connection Service
#Use via: nc --recv-only localhost 1111

[Service]
#/etc access to /etc/passwd /etc/groups
#/boot access to check on kernels
BindReadOnlyPaths=/:/host:rbind /boot
BindPaths=/etc /var/cache
#PrivateTmp=true

#ConfigurationDirectory=
Type=exec
# rw access for goss add
ExecStartPre=ls -la
ExecStartPre=mount -t overlay -o lowerdir=/host/usr:/self/usr,upperdir=/this/usr,workdir=/.work-usr overlay /usr
ExecStartPre=mount -t overlay -o lowerdir=/host/var/cache:/self/var/cache,upperdir=/this/var/cache,workdir=/.work-cache overlay /var/cache
ExecStartPre=mount -t overlay -o lowerdir=/host/etc:/self/etc,upperdir=/this/etc,workdir=/.work-etc overlay /etc
ExecStartPre=which bash
ExecStart=bash -i
#ExecStart=sshd -i
StandardInput=socket

[Install]
WantedBy=multi-user.target
