[Unit]
Description=A simple example service

[Service]
BindReadOnlyPaths=/:/host:rbind
ExecStartPre=/usr/bin/file /usr/local/lib/walkthroughd/walkthroughd
ExecStart=/usr/local/lib/walkthroughd/walkthroughd

[Install]
WantedBy=multi-user.target
