[Unit]
Description=Go Server Spec Per Connection Service
#Use via: nc --recv-only localhost 1113

[Service]
Type=exec
#/etc access to /etc/passwd /etc/groups etc.
#/boot access to check on kernels 
BindReadOnlyPaths=/:/host /etc /boot
BindPaths=/var
ConfigurationDirectory=goss

Environment=GOSS_FILE=/etc/goss/goss.yaml
Environment=GOSS_FMT=documentation
EnvironmentFile=-/etc/goss/portable.conf
ExecStartPre=which env
ExecStartPre=env
ExecStartPre=which file
ExecStartPre=file /usr/local/bin/goss
ExecStart=/usr/local/bin/goss validate
StandardInput=socket

[Install]
WantedBy=multi-user.target
