[Unit]
Description=Go Server Spec - HTTP Server

After=network-online.target
Wants=network-online.target

[Service]
#/etc access to /etc/passwd /etc/groups etc.
#/boot access to check on kernels 
BindReadOnlyPaths=/:/host:norbind /etc /boot
BindPaths=/etc/goss
ConfigurationDirectory=goss

Environment=GOSS_FILE=/etc/goss/goss.yaml
#Options: docmentation json json_oneline junit nagios rspecish silent tap
Environment=GOSS_FMT=nagios

#Options: perfdata verbose
#Environment=GOSS_FMT_OPTIONS=

#Environment=GOSS_ENDPOINT=/healthz
#Environment=GOSS_CACHE=5
#Environment=GOSS_MAX_CONCURRENT=50
Environment=GOSS_LISTEN=:1111

EnvironmentFile=-/etc/goss/goss.env
Type=exec
ExecStart=/usr/local/bin/goss serve

[Install]
WantedBy=multi-user.target
