[Unit]
Description=Go Server Spec Per Connection Service
#Use via: nc --recv-only localhost 111

[Service]
Type=exec
#/etc access to /etc/passwd /etc/groups etc.
#/boot access to check on kernels 
BindReadOnlyPaths=/:/host /etc /boot
BindPaths=/var
ConfigurationDirectory=goss
User=goss

Environment=GOSS_FILE=/etc/goss/goss.yaml
Environment=GOSS_FMT=nagios
EnvironmentFile=-/etc/goss/portable.conf
ExecStart=/usr/local/bin/goss validate
StandardInput=socket

[Install]
WantedBy=multi-user.target
